#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp Q
&kp W
&kp E
&kp I
&kp O
&kp P
&kp R
&kp T
&kp Y
&kp U
&kp A
&kp S
&kp D
&kp K
&kp L
&kp ENTER
&kp F
&kp G
&kp H
&kp J
&kp Z
&kp X
&kp C
&kp COMMA
&kp MINUS
&kp PERIOD
&kp V
&kp B
&kp N
&kp M
&mt LEFT_CONTROL ESC
&none
&mt LEFT_GUI TAB
&lt 2 SPACE
&lt 1 BACKSPACE
&mt RIGHT_SHIFT CAPS
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_1 {
            bindings = <
&none
&none
&none
&kp UP_ARROW
&none
&none
&none
&none
&none
&none
&kp LEFT_SHIFT
&kp LEFT_GUI
&kt LEFT_CONTROL
&kp DOWN
&kp RIGHT
&none
&kp LEFT_ALT
&none
&none
&kp LEFT
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_2 {
            bindings = <
&none
&none
&none
&kp NUMBER_8
&kp NUMBER_9
&kp NUMBER_0
&none
&kp GRAVE
&kp EQUAL
&kp NUMBER_7
&kp LEFT_SHIFT
&kp LEFT_GUI
&kp LEFT_CONTROL
&kp NUMBER_5
&kp NUMBER_6
&none
&kp LEFT_ALT
&kp LEFT_BRACKET
&kp RIGHT_BRACKET
&kp NUMBER_4
&none
&none
&none
&kp NUMBER_2
&kp NUMBER_3
&mt RIGHT_ALT SLASH
&kp BACKSLASH
&kp SEMICOLON
&kp SQT
&kp NUMBER_1
&none
&none
&none
&none
&none
&none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_3 {
            bindings = <
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
&none
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
